* {
    margin: 0;
    padding: 0;
}


.container {
    border: 0.5px solid  rgb(226, 166, 55);    
    padding: 30px;

    margin: auto;
    margin-top: 250px;
    box-shadow: 5px 5px 5px rgb(226, 166, 55);
    background-color:rgb(235, 223, 164);
    
}
.hi{
    margin-bottom:10px;
}

.button {
    text-align: center;
    margin: 20px 0px 5px 100px;
    width: 60%;
    color: white;
    background-color: rgb(226, 166, 55);
    font-size: 18px;
    padding:8px;

}